@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,600;0,900;1,200&display=swap');

body {
    font-family: 'Archivo', Helvetica;
}

header p {
    margin-left: 20px;
    color: #810000;
    font-size: 60px;
}
fieldset {
    width: 50%;
    margin-left: 25%;
}
legend {
    font-weight: 400;
    color: rgb(243, 67, 67);
    font-size: 30px;
}
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}
form label {
    display: block;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    color: maroon;
}
form input {
    display: block;
    width: 60%;
}
.submit {
    /* display: inline-block; */
    width: auto;
    /* margin: 10px 0 0 80px; */
    margin-top: 10px;
    padding: 10px;
    background-color: #810000;
    color: cornsilk;
    text-transform: uppercase;
    cursor: pointer;
    transition: 300ms;
}
.submit:hover {
    background: darkslategray;
}
ul {
    list-style: none;
}
ul li {
    color: #2b2e4a;
}
ul li::before { 
    content: "\2022";
    color: #f05945;
    width: 1em;
    margin-right: 1em;
}

header a {
    text-decoration: none;
    border-style: groove;
    margin: 10px;
    background-color: #bdd2b6;
    color: #96a189;
}
header a:hover {
    background-color: #536162;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: 20px auto;
  }
  
  td, th {
    border: 1px solid #ccc;
    padding: 5px 10px;
    color: darkred;
  }
  
  th {
    border: none;
    color: #000;
  }