@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,600;0,900;1,200&display=swap');

body {
    font-family: 'Archivo', Helvetica;

}
header p { 
    font-weight: 700px;
    color: #96a189;
    text-align: center;
    font-size: 30px;
}

header a {
    text-decoration: none;
    border-style: groove;
    padding: 10px;
    background-color: #bdd2b6;
    float: right;
    color: #96a189;
}
header a:hover {
    background-color: #536162;
}
main p {
    font-weight: 700px;
    color: #a1898d;
    margin: 30px;
    font-size: 40px;
}

main ul li { 
    list-style-type: circle;
    font-size: 20px;
}